<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Predictif</title>
</head>
<body>
  <div class="header">
    <div class="logo">
      <div style="display: flex; flex-direction: row; height: 100%; align-items: center">
        <div>
          <img class="circular-image" src="../static/logo.png" alt="Circular Image">
        </div>
        <div>
          Predictif
        </div>
      </div>
    </div>
    <div>
      <button class="btn-secondary">Connexion</button>
      <button class="btn">S'inscrire</button>
    </div>
  </div>
  <div class="main-container">
    <div>
      <div class="headline">
        <h1>Predictif</h1>
        <p> <i> On ne vous arnaque pas. Vous vous faites arnaqués vous-memes. </i> </p>
      </div>
    </div>
    <h2 align="center">Nos mediums</h2>
    <div class="grid-wrapper">
      <div>
        <img src="../static/medium-example.png" alt="" />
      </div>
      <div>
        <img src="../static/medium-example.png" alt="" />
      </div>
      <div class="tall">
        <img src="../static/medium-example.png" alt="" />
      </div>
      <div class="tall">
        <img src="https://images.unsplash.com/photo-1588453862014-cd1a9ad06a12?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80" alt="" />
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1588414734732-660b07304ddb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=675&amp;q=80" alt="" />
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1588224575346-501f5880ef29?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=80" alt="" />
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1574798834926-b39501d8eda2?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="" />
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1547234935-80c7145ec969?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1353&amp;q=80" alt="" />
      </div>
      <div class="wide">
        <img src="https://images.unsplash.com/photo-1588263823647-ce3546d42bfe?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=675&amp;q=80" alt="" />
      </div>
    </div>
  </div>
</body>
</html>
