<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
<div class="header">
    <div class="logo">
        <div style="display: flex; flex-direction: row; height: 100%; align-items: center">
            <div>
                <img class="circular-image" src="../static/logo.png" alt="Circular Image">
            </div>
            <div>
                Predictif
            </div>
        </div>
    </div>
    <div>
        <a class="btn-secondary" style="margin-left: 10px; margin-right: 10px">
            Tableau de bord
        </a>
        <a class="btn-secondary" style="margin-left: 10px; margin-right: 10px">
            Statistiques
        </a>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
        <a class="btn-secondary" style="margin-right: 10px">Deconnexion</a>
        <img src="../static/medium-example.png" style="border-radius: 50%; height: 36px; width: 36px" alt="Avatar">
    </div>
</div>
<div class="main-container">
    <div class="main-content-category">
        <h1>Consultation des mediums</h1>
    </div>
    <div class="medium-card-container">
            <div class="medium-card">
                <img src="../static/medium-example2.png" alt="Astrologer Mr M">
                <div class="medium-card-content">
                    <div> </div>
                    <div style="width: 100%; display: flex; align-items: flex-start;  flex-direction: column; margin: 5px;">
                        <div style="font-size: 24px"> <b>Justin Canto</b> </div>
                        <div style="font-size: 14px; color: #9CA3AF">
                            <b style="color: white">Support:</b>
                            A description of what the medium uses
                        </div>
                        <div style="font-size: 14px; color: #9CA3AF">
                            <b style="color: white">Presentation:</b>
                            A presentation of the medium
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-end">
                        <button class="btn">Demander consultation</button>
                    </div>
                </div>
            </div>
            <div class="medium-card">
                <img src="../static/medium-example2.png" alt="Astrologer Mr M">
                <div class="medium-card-content">
                    <div> </div>
                    <div style="width: 100%; display: flex; align-items: flex-start;  flex-direction: column; margin: 5px;">
                        <div style="font-size: 24px"> <b>Justin Canto</b> </div>
                        <div style="font-size: 14px; color: #9CA3AF">
                            <b style="color: white">Support:</b>
                            A description of what the medium uses
                        </div>
                        <div style="font-size: 14px; color: #9CA3AF">
                            <b style="color: white">Presentation:</b>
                            A presentation of the medium
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-end">
                        <button class="btn">Demander consultation</button>
                    </div>
                </div>
            </div>
            <div class="medium-card">
                <img src="../static/medium-example2.png" alt="Astrologer Mr M">
                <div class="medium-card-content">
                    <div> </div>
                    <div style="width: 100%; display: flex; align-items: flex-start;  flex-direction: column; margin: 5px;">
                        <div style="font-size: 24px"> <b>Justin Canto</b> </div>
                        <div style="font-size: 14px; color: #9CA3AF">
                            <b style="color: white">Support:</b>
                            A description of what the medium uses
                        </div>
                        <div style="font-size: 14px; color: #9CA3AF">
                            <b style="color: white">Presentation:</b>
                            A presentation of the medium
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-end">
                        <button class="btn">Demander consultation</button>
                    </div>
                </div>
            </div>
    </div>
</div>



</body>
<script>
    $(document).ready(function () {
        // Fill the table with the mediums dynamically
        $.ajax({
            url: './ActionServlet',
            method: 'POST',
            data: {
                "todo": "getMediums",
            },
            dataType: 'json'
        })
            .done(function (response) {
                console.log('Response on submit', response);
                var mediums = response.mediums;
                var cardContainer = $('.medium-card-container');
                cardContainer.empty();
                for (var i = 0; i < mediums.length; i++) {
                    var med = mediums[i];
                    var card = $('<div>').attr('class', 'medium-card');
                    var img = $('<img>').attr('src', '../static/medium-example2.png').attr('alt', 'Astrologer ' + med.name);
                    var cardContent = $('<div>').attr('class', 'medium-card-content');

                    var contentWrapper = $('<div>').css({
                        width: '100%',
                        display: 'flex',
                        alignItems: 'flex-start',
                        flexDirection: 'column',
                        margin: '5px'
                    });

                    var name = $('<div>').css('fontSize', '24px').html('<b>' + med.name + '</b>');
                    var support = $('<div>').css({
                        fontSize: '14px',
                        color: '#9CA3AF'
                    }).html('<b style="color: white">Support:</b> ' + med.support);
                    var presentation = $('<div>').css({
                        fontSize: '14px',
                        color: '#9CA3AF'
                    }).html('<b style="color: white">Presentation:</b> ' + med.presentation);

                    contentWrapper.append(name);
                    contentWrapper.append(support);
                    contentWrapper.append(presentation);

                    var buttonWrapper = $('<div>').css({display: 'flex', flexDirection: 'row', justifyContent: 'flex-end'});
                    var button = $('<button>').attr('class', 'btn').text('Demander consultation');

                    buttonWrapper.append(button);
                    cardContent.append(contentWrapper);
                    cardContent.append(buttonWrapper);

                    card.append(img);
                    card.append(cardContent);

                    cardContainer.append(card);
                }
            });
    });
</script>
</>

</html>
